body {
    background-color: #e2e6ef;
}

.container {
    font-family: Europa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 20px;
}

.elem {
    font-size: 4rem;
    background-color: #f9fafc;
    color: #222;
    border: 8px solid #2e43eb;
    padding: 1rem;
}

.spa-star {
    font-size: 1.5rem;
    color: rgb(255, 207, 17);
}
